/* Code of Sabarre modified to target their page, unmodified otherwise */
/* CSS was designed in a way such that it wouldn't change my group mates designed CSS code except the background.
Everything you see with my groupmates are the same as how they inteded it.*/

#perez p {
    font-family: Garamond;
    font-size: 25px;
}

#perez h1 {
    font-style: Italic;
}

#perez ul {
    font-size: 25px;
    font-family: Frutiger;
}

#perez body {
    text-align: center;
}