/* Code of Perez modified to target their page, unmodified otherwise */

#perez p {font-family:Garamond;
    font-size:25px;}
    #perez h1 {font-style:Italic;}
    #perez ul {font-size:25px;
        font-family:Frutiger;}
    #perez body {text-align: center;}